<<<<<<< HEAD
<h1>Welcome back! Login here!</h1>

<%= form_tag ("/sessions") do %>
  <%= label_tag :name %>
  <%= text_field_tag "user[name]" %>
  <%= label_tag :password %>
  <%= password_field_tag "user[password]" %>

=======
<h1>Sign Up</h1>
<%= form_tag ('/sessions') do %>
<%= label_tag :name %>
<%= text_field_tag "user[name]" %>
<%= label_tag :password %>
<%= password_field_tag "user[password]" %>
>>>>>>> 6e3c0e0cb29e73904f7f838539e74bfd445e362a
<%= submit_tag "Sign In" %>
<% end %>
